<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test"></test> <!-- Test -->
	<test name="WIN10TEST_CHROME">
		<parameter name="browser" value="Chrome" />
		<parameter name="version" value="71.0" />
		<classes>
			<class name="com.cucumber.tests.TestNGRunCucumberTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
